In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("Retail_data.csv")
df.shape

(101929, 23)

In [4]:
pd.set_option("display.max_columns",500)

In [5]:
df.head(5)

,hour,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,ordered_item_quantity,net_quantity,returned_item_quantity,order_name,product_type,product_title,product_vendor,variant_title,api_client_title
0,23-05-2021 00:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,23-05-2021 01:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,23-05-2021 02:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,23-05-2021 03:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,23-05-2021 04:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.sample(5)

,hour,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,ordered_item_quantity,net_quantity,returned_item_quantity,order_name,product_type,product_title,product_vendor,variant_title,api_client_title
44187,17-11-2021 16:00,4.561900e+12,5.278100e+12,5.908080e+12,2.99,3.696490e+13,1,5.48,0.0,0.0,5.48,0.0,0.50,5.98,1,1,0,#9736,Noodles & Vermicelli,Nestlé Maggi 2 Minute Instant Noodles Masala -...,Maggi,420 g,Point of Sale
99047,18-05-2022 14:00,4.758610e+12,0.000000e+00,6.723070e+12,0.95,4.285690e+13,1,10.46,0.0,0.0,10.46,0.0,0.94,11.40,6,6,0,#19927,Fresh Produce,Drumstick (Per Piece),dbanyan,1 Piece/ Stuk,Point of Sale
86351,06-04-2022 19:00,4.712480e+12,6.144150e+12,5.964490e+12,1.49,4.006900e+13,1,2.74,0.0,0.0,2.74,0.0,0.24,2.98,1,1,0,#17590,Masalas & Spices,Everest Chicken Masala,Everest,100 g,Online Store
82611,26-03-2022 12:00,4.701810e+12,0.000000e+00,6.739620e+12,3.49,4.263870e+13,1,6.40,0.0,0.0,6.40,0.0,0.58,6.98,1,1,0,#16902,Sweets & Snacks,Haldiram's Bhujia Plain,Haldiram's,400 g,Point of Sale
33663,09-10-2021 14:00,4.197520e+12,5.672740e+12,5.908080e+12,2.99,3.696490e+13,1,5.48,0.0,0.0,5.48,0.0,0.50,5.98,1,1,0,#7561,Noodles & Vermicelli,Nestlé Maggi 2 Minute Instant Noodles Masala -...,Maggi,420 g,Point of Sale

In [7]:
df.orders.value_counts()

1    95296
0     6633
Name: orders, dtype: int64

In [8]:
df.isnull().sum()

hour                          0
order_id                      0
customer_id                   0
product_id                    0
product_price                 0
variant_id                    0
orders                        0
gross_sales                   0
discounts                     0
returns                       0
net_sales                     0
shipping                      0
taxes                         0
total_sales                   0
ordered_item_quantity         0
net_quantity                  0
returned_item_quantity        0
order_name                 5961
product_type              22861
product_title              6483
product_vendor            22366
variant_title             31316
api_client_title           5961
dtype: int64

In [9]:
for col in list(df):
    print(f"{col} ---->{df[col].nunique()}")

hour ---->8855
order_id ---->10767
customer_id ---->1038
product_id ---->803
product_price ---->1177
variant_id ---->699
orders ---->2
gross_sales ---->1376
discounts ---->395
returns ---->138
net_sales ---->1506
shipping ---->6
taxes ---->375
total_sales ---->1577
ordered_item_quantity ---->18
net_quantity ---->23
returned_item_quantity ---->6
order_name ---->19374
product_type ---->16
product_title ---->8074
product_vendor ---->174
variant_title ---->188
api_client_title ---->4

In [10]:
df.nunique().to_frame()

                            0
hour                     8855
order_id                10767
customer_id              1038
product_id                803
product_price            1177
variant_id                699
orders                      2
gross_sales              1376
discounts                 395
returns                   138
net_sales                1506
shipping                    6
taxes                     375
total_sales              1577
ordered_item_quantity      18
net_quantity               23
returned_item_quantity      6
order_name              19374
product_type               16
product_title            8074
product_vendor            174
variant_title             188
api_client_title            4

In [11]:
df=df.drop(['hour'], axis=1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101929 entries, 0 to 101928
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                101929 non-null  float64
 1   customer_id             101929 non-null  float64
 2   product_id              101929 non-null  float64
 3   product_price           101929 non-null  float64
 4   variant_id              101929 non-null  float64
 5   orders                  101929 non-null  int64
 6   gross_sales             101929 non-null  float64
 7   discounts               101929 non-null  float64
 8   returns                 101929 non-null  float64
 9   net_sales               101929 non-null  float64
 10  shipping                101929 non-null  float64
 11  taxes                   101929 non-null  float64
 12  total_sales             101929 non-null  float64
 13  ordered_item_quantity   101929 non-null  int64
 14  net_quantity            101929 non-null  int64
 15  returned_item_quantity  101929 non-null  int64
 16  order_name              95968 non-null   object
 17  product_type            79068 non-null   object
 18  product_title           95446 non-null   object
 19  product_vendor          79563 non-null   object
 20  variant_title           70613 non-null   object
 21  api_client_title        95968 non-null   object
dtypes: float64(12), int64(4), object(6)
memory usage: 17.1+ MB

KNN IMPUTER

In [13]:
from sklearn.impute import KNNImputer
from  sklearn.preprocessing import LabelEncoder
import time

In [14]:
df1 = df.apply(lambda series: pd.Series(
        LabelEncoder().fit_transform(series[series.notnull()]),
        index=series[series.notnull()].index))

In [21]:
imputer = KNNImputer(n_neighbors=3)
imputed_col=imputer.fit_transform(df1)

In [22]:
start_time = time.time()
print("--- %s sec ---" % (time.time() - start_time))

--- 0.0001327991485595703 sec ---

In [23]:
df_imputed_KNN = pd.DataFrame(imputed_col, columns=df1.columns)
df_imputed_KNN.head()

,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,ordered_item_quantity,net_quantity,returned_item_quantity,order_name,product_type,product_title,product_vendor,variant_title,api_client_title
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,102.0,2.0,67.0,98.0,0.0,5.0,5.0,772.0,8.666667,4449.666667,139.0,94.333333,1.666667
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,102.0,2.0,67.0,98.0,0.0,5.0,5.0,772.0,8.666667,4449.666667,139.0,94.333333,1.666667
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,102.0,2.0,67.0,98.0,0.0,5.0,5.0,772.0,8.666667,4449.666667,139.0,94.333333,1.666667
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,102.0,2.0,67.0,98.0,0.0,5.0,5.0,772.0,8.666667,4449.666667,139.0,94.333333,1.666667
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,102.0,2.0,67.0,98.0,0.0,5.0,5.0,772.0,8.666667,4449.666667,139.0,94.333333,1.666667

In [24]:
df_imputed_KNN.isnull().sum()

order_id                  0
customer_id               0
product_id                0
product_price             0
variant_id                0
orders                    0
gross_sales               0
discounts                 0
returns                   0
net_sales                 0
shipping                  0
taxes                     0
total_sales               0
ordered_item_quantity     0
net_quantity              0
returned_item_quantity    0
order_name                0
product_type              0
product_title             0
product_vendor            0
variant_title             0
api_client_title          0
dtype: int64

**MICE** **IMPUTER**

In [25]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

In [26]:
start_time = time.time()

In [27]:
lr = LinearRegression()

In [29]:
lr = LinearRegression()
imputer = IterativeImputer(estimator = lr, verbose = 2, max_iter = 50, tol =1e-10, imputation_order = 'roman')
imputer.fit(df1)

[IterativeImputer] Completing matrix with shape (101929, 22)
[IterativeImputer] Ending imputation round 1/50, elapsed time 2.93
[IterativeImputer] Change: 12570.613798975464, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 2/50, elapsed time 5.46
[IterativeImputer] Change: 929.86392193515, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 3/50, elapsed time 8.04
[IterativeImputer] Change: 609.8753329871291, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 4/50, elapsed time 10.54
[IterativeImputer] Change: 659.7410476665157, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 5/50, elapsed time 13.16
[IterativeImputer] Change: 471.218609569601, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 6/50, elapsed time 15.56
[IterativeImputer] Change: 299.37489988252673, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 7/50, elapsed time 18.08
[IterativeImputer] Change: 181.40344891633248, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 8/50, elapsed time 20.53
[IterativeImputer] Change: 107.62576925201338, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 9/50, elapsed time 23.02
[IterativeImputer] Change: 63.2264157872877, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 10/50, elapsed time 25.47
[IterativeImputer] Change: 36.96804918054793, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 11/50, elapsed time 27.94
[IterativeImputer] Change: 21.56550547144203, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 12/50, elapsed time 30.37
[IterativeImputer] Change: 12.566329045881007, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 13/50, elapsed time 32.91
[IterativeImputer] Change: 7.318478984791897, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 14/50, elapsed time 35.30
[IterativeImputer] Change: 4.26106067356732, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 15/50, elapsed time 37.91
[IterativeImputer] Change: 2.480607901802797, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 16/50, elapsed time 40.27
[IterativeImputer] Change: 1.4440123253941035, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 17/50, elapsed time 42.89
[IterativeImputer] Change: 0.8405627940433771, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 18/50, elapsed time 45.30
[IterativeImputer] Change: 0.48928602659636233, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 19/50, elapsed time 47.86
[IterativeImputer] Change: 0.28480802934194394, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 20/50, elapsed time 50.31
[IterativeImputer] Change: 0.16578302579952897, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 21/50, elapsed time 52.91
[IterativeImputer] Change: 0.09649995725822613, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 22/50, elapsed time 55.38
[IterativeImputer] Change: 0.05617121279442294, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 23/50, elapsed time 57.82
[IterativeImputer] Change: 0.03269642691664565, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 24/50, elapsed time 60.11
[IterativeImputer] Change: 0.019032099485526643, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 25/50, elapsed time 62.63
[IterativeImputer] Change: 0.011078298385251983, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 26/50, elapsed time 64.99
[IterativeImputer] Change: 0.006448510243460603, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 27/50, elapsed time 67.59
[IterativeImputer] Change: 0.00375358050156116, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 28/50, elapsed time 69.89
[IterativeImputer] Change: 0.002184902503644892, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 29/50, elapsed time 72.43
[IterativeImputer] Change: 0.001271798655119838, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 30/50, elapsed time 74.87
[IterativeImputer] Change: 0.0007402946775716401, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 31/50, elapsed time 77.44
[IterativeImputer] Change: 0.0004309144422887101, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 32/50, elapsed time 79.88
[IterativeImputer] Change: 0.00025082882441829213, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 33/50, elapsed time 82.73
[IterativeImputer] Change: 0.000146003610970169, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 34/50, elapsed time 85.12
[IterativeImputer] Change: 8.49863976259968e-05, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 35/50, elapsed time 87.70
[IterativeImputer] Change: 4.946940588546056e-05, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 36/50, elapsed time 90.16
[IterativeImputer] Change: 2.879543771605597e-05, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 37/50, elapsed time 92.67
[IterativeImputer] Change: 1.6761329716175055e-05, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 38/50, elapsed time 95.19
[IterativeImputer] Change: 9.756426768703363e-06, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 39/50, elapsed time 97.69
[IterativeImputer] Change: 5.679172810246769e-06, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 40/50, elapsed time 100.25
[IterativeImputer] Change: 3.3058038315658678e-06, scaled tolerance: 1.9373e-06
[IterativeImputer] Ending imputation round 41/50, elapsed time 103.42
[IterativeImputer] Change: 1.9241997666341604e-06, scaled tolerance: 1.9373e-06
[IterativeImputer] Early stopping criterion reached.

IterativeImputer(estimator=LinearRegression(), imputation_order='roman',
                 max_iter=50, tol=1e-10, verbose=2)

In [31]:
imputer.fit_transform(df1.drop([ 'order_name',
                          'product_type', 'product_title',
                          'product_vendor', 'variant_title',
                          'variant_title','api_client_title'] ,axis=1))
print("--- %s sec ---" % (time.time() - start_time))

[IterativeImputer] Completing matrix with shape (101929, 16)
[IterativeImputer] Ending imputation round 1/50, elapsed time 1.23
[IterativeImputer] Change: 0.0, scaled tolerance: 1.0766e-06
[IterativeImputer] Early stopping criterion reached.
--- 194.06249928474426 sec ---

In [32]:
Time_MICE_IterativeImputer = ("Time_MICE_IterativeImputer", "--- %s seconds ---" % (time.time() - start_time))
Time_MICE_IterativeImputer

('Time_MICE_IterativeImputer', '--- 210.87738347053528 seconds ---')